body {

    background-color: blue;
}  

h1 {
color: aliceblue;
}
p {
    color: aliceblue;
   
}

.mainworkouts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin: 0 auto; */
    gap: 20px;
   
}
.mainworkouts {
cursor: pointer;

   
}

.title {
    color: aliceblue;
}

img {
    width: 150px;
    height: 150px;
}